* {
  margin: 0;
  padding: 0;
}
#chart-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  background: url("../imgs/至尊骨.png");
  background-size: cover;
  color: #fff;
}

.loading {
  position: absolute;
  top: 50%;
  animation: color-flicker linear 1.4s infinite;
  width: 100%;
  text-align: center;
}

.loading-sm {
  display: none;
}
.loading-normal {
  display: block;
}

.tip {
  color: #677b7c;
}

@media screen and (max-width: 800px) {
  .loading-sm {
    display: block;
  }
  .loading-normal {
    display: none;
  }
}

a {
  /* color: #00dad0; */
  color: #fff;
}

@keyframes color-flicker {
  0% {
    color: #018c98;
  }
  50% {
    color: #00d6e9;
  }
  100% {
    color: #018c98;
  }
}
